body{
  font: 20px "Google Sans", sans-serif !important;
  line-height: 1.8;
  color: #f5f6f7 !important;
  background-color: #2f2f2f;
}
p{
  font-size: 16px;
}
input[type=text], input[type=number], input[type=email], input[type=password], select, textarea{
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: inherit;
  font-weight: normal;
  color : #474e5d !important;
  font-size: 16px;
  /*margin-left:10px;*/
}
textarea:hover{
  border: 2px solid #008CBA;
}
textarea:focus{
  border: 2px solid #008CBA;
}
select:hover{
  border-color: #008CBA;
  cursor: pointer;
}
select:focus{
  border-color: #008CBA;
}
input[type=text]:hover{
  border-color: #008CBA;
}
input[type=text]:focus{
  border-color: #008CBA;
}
input[type=email]:hover{
  border-color: #008CBA;
}
input[type=email]:focus{
  border-color: #008CBA;
}
input[type=password]:hover{
  border-color: #008CBA;
}
input[type=password]:focus{
  border-color: #008CBA;
}
input[type=number]:hover{
  border-color: #008CBA;
}
input[type=number]:focus{
  border-color: #008CBA;
}
input[type='checkbox'] {
  cursor: pointer;
}
label{
  padding: 0px;
  display: inline-block;
  font-weight: normal;
  font-size:17px;
  color: #ddd;
}
input[type=submit]{
  background-color: #4CAF50;
  color: white;
  padding: 12px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top:30px;
  float: center;
}
input[type=submit]:hover{
  background-color: #45a049;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 15px; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 15px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 15px;
}
table{
  margin: auto;
  font-family: "Google Sans", "Lucida Grande", "Segoe Ui";
  width: 100%;
}
table td{
  transition: all .5s;
}  
.margin{
  margin-bottom: 45px;
}
.bg-1{ 
  /*background-color: #1abc9c; /* Green */
  color: #ffffff;
  background-image: url("images/mainbg.jpg");
  box-shadow: inset 0 8px 9px -7px rgba(0,0,0,0.4);
}
.bg-1 img{   
  display:inline;
  padding:15px; 
}
.bg-2{ 
  background-color: #474e5d; /* Dark Blue*/
  color: #ffffff;
  padding-top:50px !important;
}
.bg-3{
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4{ 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid{
  padding-top: 120px;
  padding-bottom: 70px;
}
.navbar{
  border: 0;
  border-radius: 0;
  margin-bottom: 0px !important;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
  z-index: 15;
  background-color: #f3f3f3;
}
.topNavBar{
    list-style-type: none;
    margin: 0;
    padding:8px 35px !important;
    overflow: hidden;
    height: 30px;
}
.navbar .topNavBar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 0px 5px;
    margin:0px 5px;
    text-decoration: none;
    font-size: 11px;
    font-family: inherit;
}
.navbar .topNavBar li {
   float: right;
     -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-top: 0px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding:10px 35px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.navbar ul > :first-child{    
    margin-top:0px;
}
.navbar li {
    float: left;
     -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin-top:8px;
}
.navbar li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 25px 10px;
    margin:0px 5px;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.navbar li a:hover:not(.activeMenu) {
  border-bottom: 3px solid #008CBA;
  transition: 0.2s;
  color: #008CBA;
}
.navbar li a.activeMenu {
  border-bottom: 3px solid #008CBA;
  color: #008CBA;
  font-weight: bold;
}
.navbar-brand:hover{
  border-color: gray !important;
}
.notClickableMenu:hover{
  border:none !important;
  color: #666 !important;
}
.navbar .dropdown-content {
    display: none;
    position: fixed;
    background-color: #f3f3f3;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    padding:15px 5px;
    border: 1px solid #008CBA;
    margin-left: 5px;
}
.navbar .dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px !important;
    cursor:pointer;
}
.navbar .dropdown-content a:hover {
  background-color: #008CBA;
  color: #f3f3f3 !important;
  border:none !important;
}
.navbar .dropdown:hover .dropdown-content {
    display: block;
}
.navbar .user-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f3f3f3;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    padding:10px 5px;
    border: 1px solid #008CBA;
    margin:auto;
    right: 40px;
}
.navbar .user-dropdown-content a {
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px !important;
    cursor:default;
}
.navbar .user-dropdown-content a:last-child {
    cursor: pointer;
}
.navbar .user-dropdown-content a:hover {
  background-color: #008CBA;
  color: #f3f3f3 !important;
  border:none !important;
}
.navbar .user-dropdown-content a:last-child:hover {
  background-color: #d26159;
}
.navbar .dropdown:hover .user-dropdown-content {
    display: block;
}
.smallLabel{
  font-size:14px;
}
.containerForm{
  border-radius: 5px;
  background-color: inherit;
  padding: 20px;
  box-sizing: border-box;
}
.col-10{
  float: left;
  width: 10%;
  text-align: left;
  padding-right: 10px;
  /*margin-bottom: 15px;*/
}
.col-13{
  float: left;
  width: 13.3%;
  text-align: left;
  padding-right: 10px;
  /*margin-bottom: 15px;*/
}
.col-15{
  float: left;
  width: 15%;
  text-align: left;
  padding-right: 10px;
  /*margin-bottom: 15px;*/
}
.col-20{
  float: left;
  width: 20%;
  text-align: left;
  padding-right: 10px;
  /*margin-bottom: 15px;*/
}
.col-30{
  float: left;
  width: 30%;
  text-align: left;
  padding-right: 10px;
  margin-bottom: 15px;
}
.col-sm-4 > p > span{
  font-size: 270%;
}
.col-sm-4{
  margin-top:20px;
  padding: 30px;
  border-radius: 100px;
  cursor: pointer;
}
.col-sm-4:hover{
  background-color: #666c78;  
  transition: 0.5s;
}
.col-65{
  float: left;
  width: 65%;
  text-align: left;
  padding-right: 10px;
  /*margin-bottom: 15px;*/
}
.col-80{
  float: left;
  width: 80%;
  text-align: left;
  padding-right: 10px;
  /*margin-bottom: 15px;*/
}
    /* Clear floats after the columns */
.row:after{
  content: "";
  display: table;
  clear: both;
}
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1150px){
  .col-20, .col-65, .col-30, .col-10, .col-80, input[type=submit]{
    width: 100%;
    text-align: left;
    border: none !important;
    padding-left:0px !important;
    padding-right:0px !important;
  }
  #myInput{
    width: 100%!important;
  }
  input[type=submit]{
    text-align: center;
  }
  .clearBtn{
    width:100%;
  }
  .col-65, .col-10{
    padding-left: 0px !important;
  }
} 

@media screen and (max-width: 765px){
  .navbar{
    height: auto;
  }
} 
.breadcrumb{
  margin-top:85px!important;
  margin-bottom:5px !important;
}
ul.breadcrumb {
  list-style: none;
  background-color: transparent;
}
ul.breadcrumb li{
  display: inline;
  font-size: 20px !important;
}
ul.breadcrumb li+li:before{
  padding: 8px;
  color: black;
  content: "/\00a0";
  font-size:17px;
}
ul.breadcrumb li a{
  color: #f8f8f8;
  text-decoration: none;
  font-size:17px;
}
ul.breadcrumb li a:hover{
  color: #474e5d;
  text-decoration: underline;
}
.breadcrumbActive a{
  color: #474e5d !important;
  text-decoration: underline !important;
  cursor: default;
}  
/* Data Table */
.data-table {
  font-family: "Google Sans", "Lucida Grande", "Segoe Ui";
  border-collapse: collapse;
  width: 100%;
  margin: 0px 0px;
}
.data-table td, .data-table th {
    padding: 8px;
    font-size:13px;
    color: #353535;
}
.data-table tr:nth-child(even){
  background-color: #ddd;
}
.data-table tr:nth-child(even) td{
  padding: 5px 8px;
}
.data-table tr:nth-child(odd){
  background-color: #fff;
  /*height:50px;*/
}
.data-table tr:hover {background-color: #ffffa2;}

.data-table th {
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    background-color: #4CA2D1 !important;
    color: white;
    font-weight: 600 !important;
    font-size: 14px !important;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.data-table tfoot th{
  background-color: #508abb;
  text-align: left;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.data-table tfoot th:first-child{
  text-align: left;
}
.data-table tfoot{
  text-align: left;
}
.data-table caption{
  text-align: center;
  font-size:18px;
  color: #353535;
  margin: 10px 70px;
  padding-bottom:2px;
}
/* End Data Table */

/* Show Table */
.showTable tr:nth-child(odd){
  height:50px;
}
.showTable tr:nth-child(even):hover{
  background-color: #ddd;
}
.showTable th span{
  color: #fdf002;
}
.showTable tbody td{
  word-wrap:break-word;
  max-width: 190px;
}
}
.showTable th{
  font-weight: 600 !important;
  font-size: 14px !important;
  min-width: 170px;
  max-width: 190px;
}
.showTable th:first-child{
  min-width: 50px;
  max-width: 60px;
}
/* End Show Table*/

/* Payment Table */
.paymentTable {
  font-family: "Google Sans", "Lucida Grande", "Segoe Ui";
  border-collapse: collapse;
  width: 100% !important;
  margin: 20px 0px 0px 0px;
  display: none;
}
.paymentTable td, .paymentTable th {
  padding: 8px;
  font-size:13px;
  color: #353535;
  text-align: center;
}
.paymentTable tbody tr td, .paymentTable thead tr th{
  border: 1px solid lightgray !important;
  width: 60px;
  min-width: 47px;
}
.paymentTable tbody tr td:first-child, .paymentTable thead tr th:first-child{
  border: 1px solid lightgray !important;
  min-width: 150px !important;
}
.paymentTable tbody tr td:first-child{
  background-color: #eee !important;
  cursor: pointer !important;
  text-align: left;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.paymentTable tbody tr td:first-child:hover{  
  background-color: #ddd !important;
  transition: 0s;
  font-weight: bold !important;
}
.paymentTable tbody tr td:first-child:active{
  background-color: #ccc !important;
  transition: 0s;
}
.paymentTable tr{
  height:50px;
}
.paymentTable tr:hover {background-color: #ffffa2 !important;}
.paymentTable tr:first-child:hover{
  background-color:#a3bcc9 !important;
}
.paymentTable tr:first-child{
  background-color:#a3bcc9 !important;
}
.paymentTable .sumCell{
  font-weight:bold; 
  border-left: 2px solid black !important; 
  border-right: 2px solid black !important;
}
.paymentTable th {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #4CA2D1 !important;
  color: white;
  font-size:14px !important;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-transform:uppercase;
}
/* End Payment Table */

/* Search Table */
.searchTable {
  font-family: "Google Sans", "Lucida Grande", "Segoe Ui";
  border-collapse: collapse;
  width: 100%;
  margin: 0px 0px;
}
.searchTable td{
  padding: 8px;
  font-size:13px;
  word-wrap:break-word;
  color: #353535;
}
.searchTable th {
  font-weight: 600 !important;
  font-size: 14px !important;
  padding: 8px;
  color: #353535;
}
.searchTable tbody tr td, .searchTable thead tr th{
  border: 1px solid lightgray !important;
  min-width: 180px;
  max-width: 200px;
}
.searchTable tbody tr td:first-child, .searchTable thead tr th:first-child{
  border: 1px solid lightgray !important;
  min-width: 70px;
}
.searchTable tbody tr td:first-child{
  background-color: #eee !important;
  cursor: pointer !important;
}
.searchTable tbody tr td:first-child:hover{  
  background-color: #ddd !important;
  transition: 0s;
}
.searchTable tbody tr td:first-child:active{
  background-color: #ccc !important;
  transition: 0s;
}
.searchTable tr{
  background-color: #fff;
  height:50px;
}
.searchTable tr:hover {background-color: #ffffa2 !important;}

.searchTable th {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #4CA2D1 !important;
  color: white;
  font-size:14px !important;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.stickTh > th{
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top:0;
  z-index: 2;
}
/* End Search Table*/

/* Grade Table */

.gradeTable {
  font-family: "Google Sans", "Lucida Grande", "Segoe Ui";
  border-collapse: collapse;
  width: 100%;
  margin: 0px 0px;
}
.gradeTable td{
  padding: 8px;
  font-size:13px;
  word-wrap:break-word;
  color: #353535;
}
.gradeTable th {
  font-weight: 600 !important;
  font-size: 14px !important;
  padding: 8px;
  color: #353535;
}
.gradeTable tbody tr td, .gradeTable thead tr th{
  border: 1px solid lightgray !important;
  max-width: 200px;
}

.gradeTable tr{
  background-color: #fff;
  height:50px;
}
.gradeTable tr:hover {background-color: #ffffa2 !important;}

.gradeTable tbody tr td:first-child{
  background-color: #eee !important;
  cursor: pointer !important;
}
.gradeTable tbody tr td:first-child:hover{  
  background-color: #ddd !important;
  transition: 0s;
}
.gradeTable tbody tr td:first-child:active{
  background-color: #ccc !important;
  transition: 0s;
}
.gradeTable th {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  background-color: #4CA2D1 !important;
  color: white;
  font-size:14px !important;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-transform: uppercase;
}

/* End Grade Table*/

.detailsTable tr td{
  text-align:center !important;
}
.hiddenCell{
  display:none;
}
.editBtn{
    background-color: transparent;
    border: none;
    color: white;
    padding: 2px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 0px 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}
.editBtn1 {
    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
}
.editBtn1:hover {
    background-color: white;
    color: #008CBA;
}
.showBtn {
    background-color: #555555; 
    color: white; 
    border: 2px solid #555555;
}
.showBtn:hover {
    background-color: white;
    color: #555555;
}
.cancelBtn {
    background-color: #f44336; 
    color: white; 
    border: 2px solid #f44336;
}
.cancelBtn:hover {
    background-color: white;
    color: #f44336;
}
.csvBtn {
    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
}
.csvBtn:hover {
    background-color: white;
    color: #4CAF50;
}
.saveformBtn {
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
}
.saveformBtn:hover {
    background-color: white;
    color: #555555;
}
.disabledBtn {
    opacity: 0.6;
    cursor: not-allowed;
}
.sortable{
  cursor: pointer;
}
.sortable:hover{
  background-color: #76b7db !important;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 30px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 22px;
  transition: 0.4s;
  text-align:center;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.active, .accordion:hover {
    background-color: #bbb;
}
.accordion:after {
    font-family: 'FontAwesome' !important;
    content: "\f103";
    color: #777;
    float: center;
    margin-left: 15px;
}

.active:after {
    content: "\f102";
}
.accordionPanel{
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordionPanelForm{
    padding: 0 28px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom:10px;
}
.form-group{
  text-align:left;
}
#toTopBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #ccc;
  color: #2f2f2f;
  cursor: pointer;
  padding: 13px;
  border-radius: 100px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#toTopBtn:hover {
  background-color: gray;
  color: white;
}
#toTopBtn:after {
    font-family: 'FontAwesome' !important;
    content: "\f102";
    color: inherit;
    float: center;
    font-size: 18px;
    margin-left: 8px;
}
#infomsg {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    display: none;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#infoDelMsg {
    padding: 20px;
    background-color: #2196F3;
    color: white;
    display: none;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#errormsg {
    padding: 20px;
    background-color: #f44336;
    color: white;
    display: none;
    width:100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}  
.headerP{
  padding:20px 10px;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 20px;
}
#myInput{
  background-image: url('images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.showmoretables{
  width:50%;
  float:left;
  margin-bottom:15px;
}
.showmoretables table{
  width:95%;
  margin: auto;
}
@media screen and (max-width: 1160px){
  .showmoretables{
    width:100%;
    clear:both;
  }
} /* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
  color: white;
  padding: 8px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:5px;
  font-size:14px;
}
.cancelbtn:hover{
  background-color: #e13e32;
}
.clearBtn {
  background-color: #D2A000;
  color: white;
  padding: 8px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /*margin-left:5px;*/
  font-size:14px;
}
.clearBtn:hover {
  background-color: #bf940a;
  color: white;
}
.submitBtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 40px !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right:5px;
  font-size:14px;
}
.submitBtn:hover {
    background-color: #45a049;
}
.loginBtn {
  background-color: #008CBA !important;
  color: white;
  padding: 12px 10px !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px auto !important;
  font-size:18px;
  letter-spacing: 1px;
  width: 90%;
}
.loginBtn:hover {
    background-color: #0079a0 !important;
    transition: 0.4s;
}
.printBtn {
  background-color: #bbb;
  color: white;
  padding: 10px 40px !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left:5px;
  font-size:14px;
}
.printBtn:hover {
    background-color: #aaa;
}
/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    border-radius: 50%;
}

img.logavatar {
    width: 20%;
    border-radius: 50%;
}

.editContainer {
    padding: 5px 13px;
}
.printContainer{
  color: #474e5d;
}
.printContainer label{
  color: #4CA2D1;
}
.printContainer h4{
  text-align: left;
  /*padding:10px;*/
  margin-left:10px;
 /* margin:10px 200px;*/
  /*border-top:1px solid black;
  border-bottom:1px solid black;*/
}
span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
.modalHeader{
  margin: 0px; 
  /*background-color: #008CBA; */
  padding: 10px 14px; 
  color: white; 
  display: relative;
  border-bottom: 2px solid white;
  background-image: url('images/mainbg.jpg');
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
}
.loginModalHeader{
  margin: 0px; 
  background-color: #008CBA; 
  padding: 20px 14px; 
  color: white; 
  display: relative;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 20px;
    top: 0;
    padding-top:5px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 1150px) {
    .cancelbtn, .submitBtn {
       width: 100% !important;
       margin: 5px 0px !important;
    }
    .printContainer h4{
      margin: 10px 0px;
    }
}
@media screen and (max-width: 700px) {
    img.avatar {
      display: none;
    }  
}
.editLabel{
  color: #474e5d !important;
  font-size:14px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.editLabel > li{
  font-size: 16px;
  padding: 5px;
  cursor: default;

}
.editContainer input[type=text], .editContainer select, .editContainer input[type=email]{
  font-size:12px;
}
.loginContainer input[type=text], .loginContainer input[type=password]{
  font-size:inherit !important;
}
ul.lessonMenu {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size:13.5px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  position: relative;
  width: 100%;
  padding-left: 5px;
}

.lessonMenu li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  border-right: 1px solid darkgray;
  border-radius: 20px;
}

.lessonMenu li:hover {
  background-color: #111;
  cursor:pointer;
}
#lessonHeader{
  background-color: #aaa;
  cursor: default;
}
.tooltip11 {
    position: relative;
    display: block;
    color:red;
    font-size:14px;
}

.tooltip11 .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip11 .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip11:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.modalConfirmation {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 30; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top:100px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content-confirmation {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius:5px;
  width: 50%; /* Could be more or less, depending on screen size */
  color: #474e5d !important;
  font-size:16px;
}
.closeVal{
  position: relative;
  padding-top:5px;
  color: #000;
  font-size: 35px;
  float: right!important;
  font-weight: bold;
  right:25px;
}
.closeVal:hover,
.closeVal:focus {
    color: red;
    cursor: pointer;
}
.closeVal2 {
  color: #fff;
  font-size: 17px;
  float:right;
  text-align: right;
}
.closeVal2:hover,
.closeVal2:focus {
  color: #f44336;
  text-decoration: none;
  cursor: pointer;
}
ul.addStudentMenu {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2f2f;
  font-size:13px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.addStudentMenu li {
  float: right;
}
.addStudentMenu li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  border-right: 1px solid #ddd;
  border-bottom:none;
}
.addStudentMenu li:hover {
  background-color: #111;
  cursor:pointer;
  color: #aaa;
}
.addStudentMenu li:active{
  color: #4CA2D1;
}
.addStudentMenu > li:nth-child(1):after{
    font-family: 'FontAwesome' !important;
    content: "\f021";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.addStudentMenu > li:nth-child(2):after{
   font-family: 'FontAwesome' !important;
    content: "\f12d";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.addStudentMenu > li:nth-child(3):after{
   font-family: 'FontAwesome' !important;
    content: "\f102";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.addStudentMenu > li:nth-child(4):after{
   font-family: 'FontAwesome' !important;
    content: "\f103";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.addStudentMenu > li:nth-child(4){
   border-left: 1px solid #ddd;
}
.addStudentMenu > li:nth-child(1){
   border-right: none;
}

/* show students mini menu */
ul.showStudentMenu {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2f2f;
  font-size:13px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.showStudentMenu li {
  float: right;
}
.showStudentMenu li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  border-right: 1px solid #ddd;
border-bottom:none;
}
.showStudentMenu li:hover {
  background-color: #111;
  cursor:pointer;
  color: #aaa;
}
.showStudentMenu li:active{
  color: #4CA2D1;
}
.showStudentMenu > li:nth-child(1):after{
    font-family: 'FontAwesome' !important;
    content: "\f021";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.showStudentMenu > li:nth-child(2):after{
   font-family: 'FontAwesome' !important;
    content: "\f093";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.showStudentMenu > li:nth-child(2){
   border-left: 1px solid #ddd;
}
.showStudentMenu > li:nth-child(1){
   border-right: none;
}
/* end show student mini menu */

/* payment Mini Menu */
ul.paymentMenu {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2f2f;
  font-size:13px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.paymentMenu li {
  float: right;
}
.paymentMenu li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  border-right: 1px solid #ddd;
border-bottom:none;
}
.paymentMenu li:hover {
  background-color: #111;
  cursor:pointer;
  color: #aaa;
}
.paymentMenu li:active{
  color: #4CA2D1;
}
.paymentMenu > li:nth-child(1):after{
    font-family: 'FontAwesome' !important;
    content: "\f021";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.paymentMenu > li:nth-child(2):after{
   font-family: 'FontAwesome' !important;
    content: "\f093";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.paymentMenu > li:nth-child(3):after{
   font-family: 'FontAwesome' !important;
    content: "\f1fc";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.paymentMenu > li:nth-child(4):after{
   font-family: 'FontAwesome' !important;
    content: "\f09c";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.paymentMenu > li:nth-child(5):after{
   font-family: 'FontAwesome' !important;
    content: "\f023";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.paymentMenu > li:nth-child(5){
   border-left: 1px solid #ddd;
}
.paymentMenu > li:nth-child(1){
   border-right: none;
}
/* end payment mini menu */

/* search student mini menu */
ul.searchStudentMenu {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2f2f;
  font-size:13px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.searchStudentMenu li {
  float: right;
}
.searchStudentMenu li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  border-right: 1px solid #ddd;
border-bottom:none;
}
.searchStudentMenu li:hover {
  background-color: #111;
  cursor:pointer;
  color: #aaa;
}
.searchStudentMenu li:active{
  color: #4CA2D1;
}
.searchStudentMenu > li:nth-child(1):after{
    font-family: 'FontAwesome' !important;
    content: "\f021";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.searchStudentMenu > li:nth-child(2):after{
   font-family: 'FontAwesome' !important;
    content: "\f12d";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.searchStudentMenu > li:nth-child(3):after{
   font-family: 'FontAwesome' !important;
    content: "\f093";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.searchStudentMenu > li:nth-child(4):after{
   font-family: 'FontAwesome' !important;
    content: "\f1fc";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.searchStudentMenu > li:nth-child(4){
   border-left: 1px solid #ddd;
}
.searchStudentMenu > li:nth-child(1){
   border-right: none;
}
/* end search student mini menu */

/*Grades mini Menu */
ul.gradesMenu {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #2f2f2f;
  font-size:13px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.gradesMenu li {
  float: right;
}
.gradesMenu li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  border-right: 1px solid #ddd;
border-bottom:none;
}
.gradesMenu li:hover {
  background-color: #111;
  cursor:pointer;
  color: #aaa;
}
.gradesMenu li:active{
  color: #4CA2D1;
}
.gradesMenu > li:nth-child(1):after{
    font-family: 'FontAwesome' !important;
    content: "\f021";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.gradesMenu > li:nth-child(2):after{
   font-family: 'FontAwesome' !important;
    content: "\f093";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.gradesMenu > li:nth-child(1){
   border-right: none;
}
.gradesMenu > li:nth-child(3):after{
   font-family: 'FontAwesome' !important;
    content: "\f1fc";
    color: #bbb;
    float: left;
    font-size: 18px;
    margin-right: 8px;
}
.gradesMenu > li:nth-child(3){
   border-left: 1px solid #ddd;
}
/* end of grades mini menu */

.largerMiniMenu li{
  font-size:15.5px;
  padding: 12px 16px;
  transition: .3s;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.modalTitle{
  font-size: 17px;
  text-align: left;
  letter-spacing: 1px;
}
#tmId{
  width:50px;
  font-weight: bold;
  border:none;
  display: inline; 
}
#tmName{
  width:150px;
  font-weight: bold;
  border:none;
  display: inline; 
}
#stId{
  width:50px;
  font-weight: bold;
  border:none;
  display: inline; 
}
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default !important;
}
.errorTable{
  width:70%; 
  border: 4px double white;
  background-color: #d26159;
}
.errorTable caption{
  text-align:center; 
  color:#fdf002; 
  font-weight: bold;
  padding-top: 0px;
}
.errorTable thead tr th{
  text-align:center; 
  padding:7px; 
  color:#fdf002; 
  border: 1px solid white;
}
.errorTable tbody tr td{
  padding:5px; 
  border: 1px solid white;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
.top-box
{
    box-shadow: inset 0px 5px 9px -7px rgba(141,141,141,0.4);
}
.left-box
{
    box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
}
.right-box
{
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4);
}
.bottom-box
{
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
}
#studentsList {
    list-style-image: url('images/studentLi_img.png');
}
.formError{
  letter-spacing: 1px; 
  text-align:left; 
  padding-top: 3px;
  padding-left: 5px;
  font-style: normal;
  font-size: 13.5px; 
  color: white; 
  color: #d26159 !important; 
  display: none;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.searchBox{
  width: 70%; 
  background-color: #508abb; 
  padding:10px 20px; 
  border:2px solid lightgray; 
  height:auto; 
  border-radius: 10px; 
  display: inline-block; 
  margin-bottom: 10px;
}
.deleteHref:hover{
	color: red;
	cursor:pointer;
	font-weight: 600;
}