/* ========================================================================
   Component: layout
 ========================================================================== */
body, .wrapper .section-container {
  background-color: #f5f7fa; }

.wrapper .aside-container {
  background-color: #3a3f51; }

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: #1797be;
  background-image: linear-gradient(to right, #1797be 0%, #23b7e5 100%);
  background-repeat: repeat-x; }
  @media (min-width: 992px) {
    .topnavbar .navbar-nav > .nav-item.show > .nav-link, .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover, .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
      box-shadow: 0 -3px 0 #1381a3 inset; } }
  .topnavbar .navbar-nav > .nav-item > .navbar-text {
    color: #fff; }
  .topnavbar .navbar-nav > .nav-item > .nav-link,
  .topnavbar .navbar-nav > .nav-item.show > .nav-link {
    color: #fff; }
    .topnavbar .navbar-nav > .nav-item > .nav-link:hover, .topnavbar .navbar-nav > .nav-item > .nav-link:focus,
    .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
    .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
      color: #0c4f63; }
  .topnavbar .dropdown-item.active, .topnavbar .dropdown-item:active {
    background-color: #1797be; }

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: #3a3f51; }
  .sidebar .nav-heading {
    color: #919DA8; }

.sidebar-nav > li > a, .sidebar-nav > li > .nav-item {
  color: #e1e2e3; }
  .sidebar-nav > li > a:focus, .sidebar-nav > li > a:hover, .sidebar-nav > li > .nav-item:focus, .sidebar-nav > li > .nav-item:hover {
    color: #1797be; }
  .sidebar-nav > li > a > em, .sidebar-nav > li > .nav-item > em {
    color: inherits; }

.sidebar-nav > li.active, .sidebar-nav > li.active > a, .sidebar-nav > li.active > .nav-item, .sidebar-nav > li.active .sidebar-nav, .sidebar-nav > li.open, .sidebar-nav > li.open > a, .sidebar-nav > li.open > .nav-item, .sidebar-nav > li.open .sidebar-nav {
  background-color: #383d4e;
  color: #1797be; }

.sidebar-nav > li.active > .nav-item > em, .sidebar-nav > li.active > a > em, .sidebar-nav > li.open > .nav-item > em, .sidebar-nav > li.open > a > em {
  color: #1797be; }

.sidebar-nav > li.active {
  border-left-color: #1797be; }

.sidebar-subnav {
  background-color: #3a3f51; }
  .sidebar-subnav > .sidebar-subnav-header {
    color: #e1e2e3; }
  .sidebar-subnav > li > a, .sidebar-subnav > li > .nav-item {
    color: #e1e2e3; }
    .sidebar-subnav > li > a:focus, .sidebar-subnav > li > a:hover, .sidebar-subnav > li > .nav-item:focus, .sidebar-subnav > li > .nav-item:hover {
      color: #1797be; }
  .sidebar-subnav > li.active > a, .sidebar-subnav > li.active > .nav-item {
    color: #1797be; }
    .sidebar-subnav > li.active > a:after, .sidebar-subnav > li.active > .nav-item:after {
      border-color: #1797be;
      background-color: #1797be; }

/* ========================================================================
   Component: offsidebar
 ========================================================================== */
.offsidebar {
  border-left: 1px solid greyscale(#cccccc);
  background-color: #fff;
  color: #656565; }

.reqField{
  font-weight: 600;
  color: #ff902b;
}
.custom-select-md{
  cursor: pointer;
}
.closeModalX:hover{
  color: #B71C1C !important;
}
#toTopBtn{
  display: none;
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

#toTopBtn:hover {
  background-color: #333 !important;
  color: white !important;
  transition: .3s;
}
    
#studentTable_length label, #studentTable_filter label{
  font-size:14px;
}
#studentTable_filter input{
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: inherit;
  font-weight: normal;
  color : #474e5d !important;
  font-size: 14px;
}
#studentTable_paginate{
  padding-top: 15px;
}

#studentTable_info{
  padding-top: 15px;  
}

.inputBtn{
  padding: 0.375rem 0.75rem !important;
}

.modal-contents input{
  font-size: 0.795rem;
}

.modal-contents .col-md-4, .modal-contents .col-md-3, .modal-contents .col-md-6,.modal-contents .col-md-2{
  padding-right: 7px;
  padding-left: 7px;
}

.printPage input{
  padding: 5px;
}

.btnw-2{
  padding-left: 20px;
  padding-right: 20px;
}

.btnw-3{
  padding-left: 30px;
  padding-right: 30px;
}

.btnw-4{
  padding-left: 40px;
  padding-right: 40px;
}

.dataTables_length {
    float: right;
}

.dataTables_filter {
    float: left;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90% !important;
    max-width:1200px !important; 
  }
}

@media(min-width: 992px){
  .lesson-modal {
    min-width: 600px;
    margin: 3.75rem auto !important;
    z-index: 1100;
  }
}

@media(min-width: 992px){
  .resub-modal {
    min-width: 800px;
    margin: 3.75rem auto !important;
    z-index: 800;
  }
}

.hidden-cell{
  display:none !important;
}

input[type="checkbox"], input[type="date"]{
  cursor: pointer;
}

.weblinksIcon{
  font-size: 130%;
}

.weblinksIcon:hover{
  opacity: 0.7;
  transition: 0.3s;
}

.p-2 a{
  text-decoration: none !important;
}

.breadcrumb{
  background-color: transparent !important;
}

.editGradeForm label{
  font-weight: 700 !important;
}

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #edf1f2 !important;
}*/

.flotTip{
  z-index: 1050 !important;
}

.text-success-dark{
  color: #1e983b !important;
}

.fa-120x{
  font-size: 120% !important;
}

.pointer-cursored{
  cursor: pointer !important;
}

  .command-edit, .command-delete{
    padding: 0.25rem 0.485rem !important;
  }

  .studentList:hover{
    background-color: #5d9cec !important;
    color: white;
  }

  .font-110x{
    font-size: 110% !important;
  }
  .shortcuts:hover{
    /*background-color: #8bb8f1 !important;*/
    border: 2px solid #5d9cec ;
    cursor: pointer;
  }
  .shortcuts:hover div{
    font-weight: 600;
  }
  .shortcuts{
    border-radius: 5px; 
    background-color: white;
    box-shadow: 0 .09rem 1.05rem 0 rgba(58,59,69,.15) !important;
    border: 2px solid transparent;
  }

  .badge{
    font-weight: 600 !important;
  }

  .form-control, .custom-select{
    height: 2.4rem !important;
  }

  textarea.form-control{
    height: auto !important;
  }

  .cursor-pointer{
    cursor: pointer !important;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

.like-a{
  cursor:pointer;
}

.like-a:hover{
  text-decoration: underline;
  color: #2f80e7 !important;
}

#sort-students{
  font-size: 120%;
}

.colored-circle-success{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #27c24c;
}

.colored-circle-danger{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f05050;
}

.colored-circle-warning{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ff902b;
}

.w-1{
  width: 1% !important;
}

 
.w-2{
  width: 2% !important;
}

 
.w-3{
  width: 3% !important;
}

 
.w-4{
  width: 4% !important;
}

 
.w-5{
  width: 5% !important;
}

 
.w-6{
  width: 6% !important;
}

 
.w-7{
  width: 7% !important;
}

 
.w-8{
  width: 8% !important;
}

 
.w-9{
  width: 9% !important;
}

 
.w-10{
  width: 10% !important;
}

 
.w-11{
  width: 11% !important;
}

 
.w-12{
  width: 12% !important;
}

 
.w-13{
  width: 13% !important;
}

 
.w-14{
  width: 14% !important;
}

 
.w-15{
  width: 15% !important;
}

 
.w-16{
  width: 16% !important;
}

 
.w-17{
  width: 17% !important;
}

 
.w-18{
  width: 18% !important;
}

 
.w-19{
  width: 19% !important;
}

 
.w-20{
  width: 20% !important;
}

 
.w-21{
  width: 21% !important;
}

 
.w-22{
  width: 22% !important;
}

 
.w-23{
  width: 23% !important;
}

 
.w-24{
  width: 24% !important;
}

 
.w-25{
  width: 25% !important;
}

 
.w-26{
  width: 26% !important;
}

 
.w-27{
  width: 27% !important;
}

 
.w-28{
  width: 28% !important;
}

 
.w-29{
  width: 29% !important;
}

 
.w-30{
  width: 30% !important;
}

 
.w-31{
  width: 31% !important;
}

 
.w-32{
  width: 32% !important;
}

 
.w-33{
  width: 33% !important;
}

 
.w-34{
  width: 34% !important;
}

 
.w-35{
  width: 35% !important;
}

 
.w-36{
  width: 36% !important;
}

 
.w-37{
  width: 37% !important;
}

 
.w-38{
  width: 38% !important;
}

 
.w-39{
  width: 39% !important;
}

 
.w-40{
  width: 40% !important;
}

 
.w-41{
  width: 41% !important;
}

 
.w-42{
  width: 42% !important;
}

 
.w-43{
  width: 43% !important;
}

 
.w-44{
  width: 44% !important;
}

 
.w-45{
  width: 45% !important;
}

 
.w-46{
  width: 46% !important;
}

 
.w-47{
  width: 47% !important;
}

 
.w-48{
  width: 48% !important;
}

 
.w-49{
  width: 49% !important;
}

 
.w-50{
  width: 50% !important;
}

 
.w-51{
  width: 51% !important;
}

 
.w-52{
  width: 52% !important;
}

 
.w-53{
  width: 53% !important;
}

 
.w-54{
  width: 54% !important;
}

 
.w-55{
  width: 55% !important;
}

 
.w-56{
  width: 56% !important;
}

 
.w-57{
  width: 57% !important;
}

 
.w-58{
  width: 58% !important;
}

 
.w-59{
  width: 59% !important;
}

 
.w-60{
  width: 60% !important;
}

 
.w-61{
  width: 61% !important;
}

 
.w-62{
  width: 62% !important;
}

 
.w-63{
  width: 63% !important;
}

 
.w-64{
  width: 64% !important;
}

 
.w-65{
  width: 65% !important;
}

 
.w-66{
  width: 66% !important;
}

 
.w-67{
  width: 67% !important;
}

 
.w-68{
  width: 68% !important;
}

 
.w-69{
  width: 69% !important;
}

 
.w-70{
  width: 70% !important;
}

 
.w-71{
  width: 71% !important;
}

 
.w-72{
  width: 72% !important;
}

 
.w-73{
  width: 73% !important;
}

 
.w-74{
  width: 74% !important;
}

 
.w-75{
  width: 75% !important;
}

 
.w-76{
  width: 76% !important;
}

 
.w-77{
  width: 77% !important;
}

 
.w-78{
  width: 78% !important;
}

 
.w-79{
  width: 79% !important;
}

 
.w-80{
  width: 80% !important;
}

 
.w-81{
  width: 81% !important;
}

 
.w-82{
  width: 82% !important;
}

 
.w-83{
  width: 83% !important;
}

 
.w-84{
  width: 84% !important;
}

 
.w-85{
  width: 85% !important;
}

 
.w-86{
  width: 86% !important;
}

 
.w-87{
  width: 87% !important;
}

 
.w-88{
  width: 88% !important;
}

 
.w-89{
  width: 89% !important;
}

 
.w-90{
  width: 90% !important;
}

 
.w-91{
  width: 91% !important;
}

 
.w-92{
  width: 92% !important;
}

 
.w-93{
  width: 93% !important;
}

 
.w-94{
  width: 94% !important;
}

 
.w-95{
  width: 95% !important;
}

 
.w-96{
  width: 96% !important;
}

 
.w-97{
  width: 97% !important;
}

 
.w-98{
  width: 98% !important;
}

 
.w-99{
  width: 99% !important;
}

 
.w-100{
  width: 100% !important;
}

.custom-title-blue{
  background: #dedede !important;
  border-bottom: 4px solid #00a1e4 !important;
}

.custom-title-orange{
  background: #dedede !important;
  border-bottom: 4px solid #fdb813 !important;
}

.custom-title-red{
  background: #dedede !important;
  border-bottom: 4px solid #ee2e24 !important;
}